body {
    margin-top: 90px;
}

h2 {
    font-weight: bold;
    color: #B29079;
}

a {
    text-decoration: none;
    color: black;
}

.bg-body-peach-cream {
    background-color: #EFE7DA;
}

.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.thumbnail {
    border: 1px solid wheat;
    /* 灰色邊框 */
    border-radius: 4px;
    /* 圓角邊框 */
    /* padding: 5px; */
    /* 內距 */
    /* width: 150px; */
    /* 設定小寬度 */
}

/* 滑鼠懸停時加上藍色陰影效果 */
.thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* 模態框（背景） */
.modal {
    display: none;
    /* 預設隱藏 */
    position: fixed;
    /* 固定位置 */
    z-index: 1;
    /* 顯示在最上層 */
    left: 0;
    top: 0;
    width: 100%;
    /* 全寬 */
    height: 100%;
    /* 全高 */
    overflow: auto;
    /* 需要時可滾動 */
    background-color: rgb(0, 0, 0);
    /* 備用顏色 */
    background-color: rgba(0, 0, 0, 0.4);
    /* 黑色帶透明度 */
    padding-top: 60px;
}

/* 模態框內容/盒子 */
.modal-content {
    background-color: #fefefe;
    margin: 12rem auto;
    /* 距離頂部 20px 並置中 */
    border: 1px solid #888;
    width: 25rem;
    /* 可依螢幕大小調整 */
}

/* 加入縮放動畫 */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

/* 縮放動畫 keyframes */
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* 隱藏關閉按鈕 */
.close {
    position: absolute;
    display: none;
}

/* 輸入框全寬 */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

/* 所有按鈕的樣式 */
button {
    background-color: #B29079;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* 按鈕滑鼠懸停效果 */
button:hover {
    opacity: 0.8;
}

/* 取消按鈕的額外樣式（紅色） */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: lightcoral;
    border-radius: 10px;
}

/* 容器加內距 */
.containerlogin {
    padding: 16px;
    border-radius: 9px;
}

/* 忘記密碼文字 */
span.psw {
    float: right;
    padding-top: 16px;
}

/* 在極小螢幕下調整 span 和取消按鈕樣式 */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.nav-item a:hover {
    background-color: #C1B6A4;
    border-radius: 5px;
}

.nav-item {
    margin-left: 15px;
}

.navbar-brand {
    margin-left: 15px;
}

.featurette-divider {
  margin: 3rem 0;
}

.social_media:hover {
  color: #C1B6A4 !important;
}